.medicine-footer {
    max-width: 100%;
    background: #028174;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 50px 30px 50px;


    
}

.footer-text-main {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
}

.footer-text-extra {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
}

.footer-input-out {
    position: relative;
    border-radius: 28pt;
    border: 1px solid #FFF;
    background: transparent;
    padding: 5px 5px 5px 20px;
    outline: none;
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
}



.footer-input {
    /* position: absolute; */
    border: 0;
    background: transparent;
    width: 300px;
    /* padding: 7px 50px 7px 20px; */
    outline: none;
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    z-index: 99999;
}

::placeholder {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
}

.footer-button {
    /* position: absolute; */
    border-radius: 28pt;
    background: #FFF;
    padding: 8pt 30pt;
    margin: 0;
    outline: none;
    color: #8f8f8f;
    font-family: 'Open Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    left: 240pt;
    border: 1px solid #028174;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.container-footer-input {
    /* position: relative;
    display: flex;
    align-items: center;
    outline: none; */
}

.footer-menu {
    color: white;
    font-family: 'Open Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;

}


.container-input-information{
    display: flex;
    align-items: center;
    gap: 150px;
}
.container-footer-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    Gap: 60px;
}

.container-footer-products {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.footer-text-main-products {
    color: wheat;
    font-family: 'Open Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

.footer-text-extra-products {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.footer-text-main-investors {
    color: wheat;
    font-family: 'Open Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

.footer-text-extra-investors {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.container-input {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 15px;
    align-items: flex-start;
    justify-content: center;
}

.container-footer-investors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.container-footer-products-investors {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 129px;
}

.container-footer-menu-products-investors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

textarea {
    resize: none;
}

.showAlert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8d7da;
    color: #721c24;
    padding: 20px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.center {
    z-index: 99999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.error {
    background-color: #028174;
    color: #FFF;
    border-radius: 22pt;
    padding: 20px;
    border: None;
    font-size: 20px;
}


.success {
    background-color: #028174;
    color: #FFF;
    border: none;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    border-radius: 22pt;
    font-size: 20px;
}

.footer-soure {
    text-align: center;
    background-color: #028174;
    color: white;
    width: 100%;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}