
.container-menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #028174;
    padding: 5px 0px;
    margin: 0;
}
.image-logo{
    width: 100px;
    height: 90px;
}
.button-menu{
    color: #fff;
    font-size: 23px;
    font-family: 'DM Sans';
    font-weight: 700;
    background-color: transparent;
    border: 0;
}

.button-cart-size{
    width: 50px;
    height: 50px;
}
.button-menu-search{
    /* width: 620px; */
    /* height: 50px; */
    color: #ffff;
    outline: none;
    border-radius: 28pt;
    border: solid 2px whitesmoke;
    padding: 10px 100px 10px 20px;
    font-size: 20px;
    background-color: #028174;
}

.button-menu-search::-webkit-search-cancel-button{
    position:relative;  
    -webkit-appearance: none;
    /* height: 20px;
    width: 20px; */
    border-radius:28pt;
    background: transparent;
}



.container-button-search{
    position: relative;
}

.button-search-size{
    position: absolute;
    width: 60px;
    height: 54px;
    margin-left: 250px;
}

.container-button-menu{
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 500px;
    gap:30px;
}

.container-icon{
    display: flex;
    width: 150px;
    gap:20px;
    align-items: center;
    justify-content: center;
}

li{
    list-style-type:none
}
.header-link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #fafafa;
    padding: 10px;
}

.header-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f7eded;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.header-link:hover:before {
    visibility: visible;
    transform: scaleX(1);
}
