.body-ourthe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.header-therapy{
    border-top: solid #fff ;
    background-color: #028174;
    color: white;
    text-align: center;
    padding: 20px;
}

.ourtherapies-img{
    width: 200px;
    height: 200px;
}
.container-therapy-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.therapy-section {
    margin: 20px;
    text-align: center;
}

.therapy-card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.therapy-card:hover {
    transform: scale(1.05);
}

h1 {
    margin-bottom: 20px;
}

h2 {
    color: #5689C0;
}

footer-ourthe{
    position: relative;
    text-align: center;
    padding: 10px;
    background-color: #028174;
    color: white;
}